<section>
  <header>
      <div class="px-3 py-2 text-bg-dark border-bottom">
          <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


                  <a href="/"
                      class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                          <use xlink:href="#bootstrap" />
                      </svg>
                      <h2>MotorPartsHub</h2>
                  </a>

                  <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">


                      <li>
                          <i class="bi bi-house fs-4 me-2 d-flex justify-content-center align-items-center"></i>
                          <a href="#" class="nav-link text-secondary">
                              <samp>Home</samp>

                          </a>
                      </li>


                      <li class="nav-item dropdown">
                          <i class="bi bi-view-list fs-4 me-2 d-flex justify-content-center align-items-center"></i>
                          <a class="dropdown-toggle nav-link text-white" data-bs-toggle="dropdown"
                              aria-expanded="false">

                              <span>Catogery</span>

                          </a>
                          <ul class="dropdown-menu dropdown-menu-dark">
                              <li><a class="dropdown-item" href="#">Gaskets & Seals</a></li>
                              <li><a class="dropdown-item" href="#">Engine Parts</a></li>
                              <li><a class="dropdown-item" href="#">Foot Controls & Pegs</a></li>
                              <li><a class="dropdown-item" href="#">Handlebars & Controls</a></li>
                              <li><a class="dropdown-item" href="#">Suspension</a></li>
                              <li><a class="dropdown-item" href="#">Cables & Hoses</a></li>
                              <li><a class="dropdown-item" href="#">Lighting</a></li>
                              <li><a class="dropdown-item" href="#">Ignition System Parts</a></li>
                              <li><a class="dropdown-item" href="#">Electronic Parts</a></li>
                              <li><a class="dropdown-item" href="#">Frame & Body</a></li>
                              <li><a class="dropdown-item" href="#">Air Intake & Filters</a></li>
                              <li><a class="dropdown-item" href="#">Brake Discs and Pads</a></li>
                              <li><a class="dropdown-item" href="#">Tires and Wheels</a></li>
                              <li><a class="dropdown-item" href="#">Service Kits</a></li>

                          </ul>
                      </li>
                      <li>
                          <i class="bi bi-table fs-4 me-2 d-flex justify-content-center align-items-center "></i>
                          <a href="#" class="nav-link text-white">
                              <span>Products</span>
                          </a>

                      </li>
                      <li>
                          <i class="bi bi-grid fs-4 me-2 d-flex justify-content-center align-items-center "></i>
                          <a href="#" class="nav-link text-white">
                              <samp>Contact Us</samp>
                          </a>
                      </li>
                      <li>
                          <i class="bi-person-circle fs-4 me-2 d-flex justify-content-center align-items-center"></i>
                          <a href="#" class="nav-link text-white">
                              <span>Profile</span>
                          </a>
                      </li>
                      <div class="">
                          <i class="bi bi-cart3 fs-4 me-2 d-flex justify-content-center align-items-center"></i>

                          <a routerLink="/cart" class="action-item nav-link text-white">
                              <span class="badge bg-danger">0</span>
                          </a>
                      </div>
                      <div>
                          <i class="bi bi-heart fs-4 me-2 d-flex justify-content-center align-items-center"></i>
                          <a routerLink="/wishlist" class="action-item nav-link text-white">
                              WishList
                          </a>
                      </div>
                  </ul>
              </div>
          </div>
      </div>
      <div class="px-3 py-2 border-bottom mb-3">
          <div class="container d-flex flex-wrap justify-content-center">
              <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
                  <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
              </form>

              <div class="text-end">
                  <button type="button" class="btn btn-light text-dark me-2" routerLink="/login">Login</button>
                  <button type="button" class="btn btn-primary" routerLink="/signUp">Sign-up</button>
              </div>
          </div>
      </div>

  </header>
</section>
<section class="h-auto">
  <div class="container-fluid h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
             class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginForm" >
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
              <i class="bi bi-facebook"></i>
            </button>

            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
              <i class="bi bi-google"></i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>

          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="email" formControlName="email" class="form-control form-control-lg"
                   placeholder="Enter a valid email address" />
            <label class="form-label" for="email">Email address</label>
            <div class="text-danger"
                 *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
              Email address incorrect.
            </div>
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-3">
            <input type="password" id="password" formControlName="password" class="form-control form-control-lg"
                   placeholder="Enter password" />
            <label class="form-label" for="password">Password</label>
            <div class="text-danger"
                 *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
              Password incorrect.
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="#!" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                     style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="loginForm.invalid" (click)="onSubmit()" >Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink="/signUp"
                                                                              class="link-danger">Register</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
<section>
  <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
          Copyright © 2020. All rights reserved.
      </div>
      <!-- Copyright -->

      <!-- Right -->
      <div>
          <a href="#!" class="text-white me-4">
              <i class="bi bi-facebook"></i>
          </a>
          <a href="#!" class="text-white me-4">
              <i class="bi bi-twitter"></i>
          </a>
          <a href="#!" class="text-white me-4">
              <i class="bi bi-google"></i>
          </a>
          <a href="#!" class="text-white">
              <i class="bi bi-linkedin"></i>
          </a>
      </div>
      <!-- Right -->
  </div>
</section>