<section>
  <header>
      <div class="px-3 py-2 text-bg-dark border-bottom">
          <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


                  <a href="/"
                      class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                          <use xlink:href="#bootstrap" />
                      </svg>
                      <h2>MotorPartsHub</h2>
                  </a>

                  <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">


                      <li>
                          <i class="bi bi-house fs-4 me-2 d-flex justify-content-center align-items-center"></i>
                          <a href="#" class="nav-link text-secondary">
                              <samp>Home</samp>

                          </a>
                      </li>


                      <li class="nav-item dropdown">
                          <i class="bi bi-view-list fs-4 me-2 d-flex justify-content-center align-items-center"></i>
                          <a class="dropdown-toggle nav-link text-white" data-bs-toggle="dropdown"
                              aria-expanded="false">

                              <span>Catogery</span>

                          </a>
                          <ul class="dropdown-menu dropdown-menu-dark">
                              <li><a class="dropdown-item" href="#">Gaskets & Seals</a></li>
                              <li><a class="dropdown-item" href="#">Engine Parts</a></li>
                              <li><a class="dropdown-item" href="#">Foot Controls & Pegs</a></li>
                              <li><a class="dropdown-item" href="#">Handlebars & Controls</a></li>
                              <li><a class="dropdown-item" href="#">Suspension</a></li>
                              <li><a class="dropdown-item" href="#">Cables & Hoses</a></li>
                              <li><a class="dropdown-item" href="#">Lighting</a></li>
                              <li><a class="dropdown-item" href="#">Ignition System Parts</a></li>
                              <li><a class="dropdown-item" href="#">Electronic Parts</a></li>
                              <li><a class="dropdown-item" href="#">Frame & Body</a></li>
                              <li><a class="dropdown-item" href="#">Air Intake & Filters</a></li>
                              <li><a class="dropdown-item" href="#">Brake Discs and Pads</a></li>
                              <li><a class="dropdown-item" href="#">Tires and Wheels</a></li>
                              <li><a class="dropdown-item" href="#">Service Kits</a></li>

                          </ul>
                      </li>
                      <li>
                          <i class="bi bi-table fs-4 me-2 d-flex justify-content-center align-items-center "></i>
                          <a href="#" class="nav-link text-white">
                              <span>Products</span>
                          </a>

                      </li>
                      <li>
                          <i class="bi bi-grid fs-4 me-2 d-flex justify-content-center align-items-center "></i>
                          <a href="#" class="nav-link text-white">
                              <samp>Contact Us</samp>
                          </a>
                      </li>
                      <li>
                          <i class="bi-person-circle fs-4 me-2 d-flex justify-content-center align-items-center"></i>
                          <a href="#" class="nav-link text-white">
                              <span>Profile</span>
                          </a>
                      </li>
                      <div class="">
                          <i class="bi bi-cart3 fs-4 me-2 d-flex justify-content-center align-items-center"></i>

                          <a routerLink="/cart" class="action-item nav-link text-white">
                              <span class="badge bg-danger">0</span>
                          </a>
                      </div>
                      <div>
                          <i class="bi bi-heart fs-4 me-2 d-flex justify-content-center align-items-center"></i>
                          <a routerLink="/wishlist" class="action-item nav-link text-white">
                              WishList
                          </a>
                      </div>
                  </ul>
              </div>
          </div>
      </div>
    <div class="px-3 py-2 border-bottom mb-3">
      <div class="container d-flex flex-wrap justify-content-center">
        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-light text-dark me-2" (click)="goToLogin()">Login</button>

          <button type="button" class="btn btn-primary" routerLink="/signup">Sign-up</button>
        </div>
      </div>
    </div>

  </header>
</section>
<section>
  <div class="container-fluid h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="text-black">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <div class="alert alert-success" *ngIf="successMessage">
                  {{ successMessage }}
                </div>
                <div class="alert alert-danger" *ngIf="errorMessage">
                  {{ errorMessage }}
                </div>
                <form class="mx-1 mx-md-4" [formGroup]="signupForm" (ngSubmit)="submitForm()">

                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="text" id="firstName" formControlName="firstName" class="form-control " />
                        <label class="form-label" for="firstName">First name</label>
                        <div class="text-danger"
                          *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched">Please enter your
                          first name.</div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="text" id="lastName" formControlName="lastName" class="form-control " />
                        <label class="form-label" for="lastName">Last name</label>
                        <div class="text-danger"
                          *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched">Please enter your
                          last name.</div>

                      </div>
                    </div>
                  </div>

                  <div class="row ">

                    <div class="col-md-6 mb-3">

                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="text" id="nic" formControlName="nic" class="form-control" />
                        <label class="form-label" for="nic">Nic</label>
                        <div class="text-danger"
                          *ngIf="signupForm.get('nic')?.invalid && signupForm.get('nic')?.touched">Enter a valid NIC (9
                          digits + 'V' or 12 digits)
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">

                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="text" id="contactNumber" formControlName="contactNumber" class="form-control" />
                        <label class="form-label" for="contactNumber">Contact Number</label>
                        <div class="text-danger"
                          *ngIf="signupForm.get('contactNumber')?.invalid && signupForm.get('contactNumber')?.touched">
                          Enter a valid Contact number.
                        </div>
                      </div>
                    </div>

                    <div class="row d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="email" id="email" formControlName="email" class="form-control" />
                        <label class="form-label" for="email">Your Email</label>
                        <div class="text-danger"
                          *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
                          Enter a valid email address.
                        </div>
                      </div>
                    </div>

                    <div class="row ">

                      <div class="col-md-6 mb-3">
                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                          <label class="form-label" for="province">Province</label>
                          <select id="province" class="form-control" formControlName="province"
                            (change)="onProvinceChange()">
                            <option value="">Select Province</option>
                            <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
                          </select>
                        </div>
                      </div>

                      <!-- District Dropdown -->
                      <div class="col-md-6 mb-3">
                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                          <label class="form-label" for="district">District</label>
                          <select class="form-control" id="district" formControlName="district">
                            <option value="">Select District</option>
                            <option *ngFor="let district of districts" [value]="district">{{district}}</option>
                          </select>
                        </div>
                      </div>

                    </div>

                    <div class="row ">

                      <div class="col-md-6 mb-3">

                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                          <input type="text" id="city" formControlName="city" class="form-control" />
                          <label class="form-label" for="city">City</label>
                          <div class="text-danger"
                            *ngIf="signupForm.get('city')?.invalid && signupForm.get('city')?.touched">
                            Enter a valid City.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">

                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                          <input type="number" id="postalCode" formControlName="postalCode" class="form-control " />
                          <label class="form-label" for="postalCode">Postal Code</label>
                          <div class="text-danger"
                            *ngIf="signupForm.get('postalCode')?.invalid && signupForm.get('postalCode')?.touched">
                            Enter a valid Postal Code.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="email" id="address" formControlName="address" class="form-control" />
                        <label class="form-label" for="address">Address</label>
                      </div>
                    </div>
                    <div class="row d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="password" id="password" formControlName="password" class="form-control" />
                        <label class="form-label" for="password">Password</label>
                        <div class="text-danger"
                          *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
                          Password must be at least 6 characters long.
                        </div>
                      </div>
                    </div>

                    <div class="row d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="password" id="confirmPassword" formControlName="confirmPassword"
                          class="form-control" />
                        <label class="form-label" for="confirmPassword">Confirm password</label>
                        <div class="text-danger"
                          *ngIf="signupForm.get('confirmPassword')?.errors?.['passwordMismatch']">
                          Passwords do not match
                        </div>
                      </div>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" data-mdb-button-init data-mdb-ripple-init
                        class="btn btn-primary btn-lg">Register</button>
                    </div>
                  </div>
                </form>

              </div>


              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2020. All rights reserved.
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</section>
