<div class="raw">
  <router-outlet></router-outlet>
</div>
<!--<div class="raw">-->
<!--  <app-login></app-login>-->
<!--</div>-->
<!--<div class="raw">-->
<!--  <app-footer></app-footer>-->
<!--</div>-->
<!--<app-login></app-login>-->
<!--   <app-admin-header></app-admin-header>-->
<!--  <app-header></app-header>-->
<!--  <app-sign-up></app-sign-up>-->
<!--<app-single-product></app-single-product>-->
<!--  <app-product></app-product>-->
<!--<app-shopping-cart></app-shopping-cart>-->
<!--  <app-add-product></app-add-product>-->
